@font-face {
    font-family: 'Mark';
    src: url('marklight-webfont.woff2') format('woff2'),
         url('marklight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mark';
    src: url('markbold-webfont.woff2') format('woff2'),
         url('markbold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}